[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-admin = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
pillow = "*"
django-cors-headers = "*"
gunicorn = "*"
python-dotenv = "*"
dotenv = "*"
drf-api-logger = "*"
dj-stripe = "*"
stripe = "*"

[dev-packages]

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
