@import "tailwindcss";

.dotpattern {
    /* diameter of the circle */
    --d: 1px;

    background: radial-gradient(
            circle at var(--d) var(--d),
            #000 calc(var(--d) - 2px),
            #0000 var(--d)
        )
        0 0 / 50px 50px;
    background-color: white;
}

.outline {
    color: #ff3cb2;
    -webkit-text-stroke-width: 2.5px;
    paint-order: stroke fill;
    -webkit-text-stroke-color: black;
    font-weight: bold;
}

.antioutline {
    text-shadow: none;
}

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -20px; /* gutter size offset */
    width: auto;
}
.my-masonry-grid_column {
    padding-left: 20px; /* gutter size */
    background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
    /* change div to reference your elements you put in <Masonry> */
    background: grey;
    margin-bottom: 30px;
}
